opam-version: "1.2"
name: "imagelib"
version: __VERSION__
maintainer: "Rodolphe Lepigre<rodolphe@lepigre.fr>"
authors:
  "Rodolphe Lepigre<rodolphe@lepigre.fr>"
bug-reports: "rodolphe@lepigre.fr"
license: "LGPL-3.0"
#dev-repo: "darcs://lama.univ-savoie.fr/~raffalli/gles3/repos"
build: [make]
install: [make "install"]
remove: ["ocamlfind" "remove" "imagelib"]
depends: [
  "ocamlfind" {build}
  "camlzip"
]
